body{
	margin:0px;
	color:white;
	background-color:black;
}
.top{
	height:40px;
	padding:10px;
	padding-left:40px;
	padding-right:40px;
	font-size:25px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.link-boxes{
	display:flex;
	justify-content:space-between;
	height:200px;
}
.bottom-details{
	background-color:#2C303A;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-left:30px;
	padding-right:30px;
}
.list>li{
	list-style-type:none;
	margin:10px;
}
ul>li>a{
	color:white;
	text-decoration:none;
}
.tag-line{
	font-size:20px;
	text-decoration:underline;
	text-underline-offset:5px;
}
.content{
	padding:5px;
	padding-right:15px;
}
.fa{
	height:30px;
	width:30px;
	color:white;
	padding:5px;
	border-radius:50px;
	text-decoration:none;
	text-align:center;
}
.fa-facebook{
	background-color:#4267B2;
}
.fa-twitter{
	background-color:#1DA1F2;
}
.fa-instagram{
	background-color:#E1306C;
}
.fa-linkedin{
	background-color:#0077B5;
}
.fa-youtube{
	background-color:#FF0000;
}